<a href="https://colab.research.google.com/github/GezhinOleg/Num_Pnd_L3/blob/main/foo_dz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнее задание к лекции "Функции и работа с данными"

##Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

    оценка 2 и меньше - низкий рейтинг
    оценка 4 и меньше - средний рейтинг
    оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [ ]:
def class_movies(row):
    if row['rating']<=2.0:
        return 'низкий рейтинг'
    elif 2.0<row['rating']<=4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [ ]:
ratings['class'] = ratings.apply(class_movies, axis=1)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

#Задание 2

##Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

Результат классификации запишите в отдельный столбец region.

In [ ]:
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
citys = []
for i in geo_data.values():
    for j in i:
        citys.append(j)
citys

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [ ]:
row = 'авито мурманск'
data = row.split(' ')
def check(t):
    for i in t:
        if i in citys:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Северо-Запад

In [ ]:
regions = pd.read_csv('ml-latest-small/keywords.csv')
regions.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def search_in_keyword(row):
    data = row['keyword'].split(' ')
    i = 0
    for word in data:
        if word in citys:
            for items in geo_data.items():
                if word in items[1]:
                    i += 1
                    return items[0]
    if i==0:
        return 'undefined'

In [ ]:
regions['region'] = regions.apply(search_in_keyword, axis=1)
regions.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
regions[(regions['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

#Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:
###Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
      
1.   для каждой строки пройдите по всем годам списка years
2.   если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
3.   В переменную years запишите список из всех годов с 1950 по 2010.
4.   если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
years = []
for i in range(1950, 2011):
    years.append(i)

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
moves = pd.read_csv('ml-latest-small/movies.csv')

In [ ]:
def get_year(row):
    data = row['title'][-5:-1]
    result = 1900
    if data.isdigit():
        data = int(data)
        if data in years:
            result = data
    return result

In [ ]:
moves['year'] = moves.apply(get_year, axis=1)
moves.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [ ]:
joined = ratings.merge(moves, on='movieId', how='left')
jd=joined.groupby('year').rating.mean().reset_index()
jd.sort_values('rating', ascending=False)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.355945

[62 rows x 2 columns]